@charset "UTF-8";
@font-face {
  font-family: "symbols-technomart";
  src: url("../font/symbols-technomart.eot?22619757");
  src: url("../font/symbols-technomart.eot?22619757#iefix") format("embedded-opentype"), url("../font/symbols-technomart.woff?22619757") format("woff"), url("../font/symbols-technomart.ttf?22619757") format("truetype"), url("../font/symbols-technomart.svg?22619757#symbols-technomart") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "symbols-technomart";
    src: url("../font/symbols-technomart.svg?22619757#symbols-technomart") format("svg");
  }
}
*/
.icons,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-left:before {
  content: "\3c";
}
/* "&lt;" */
.icon-right:before {
  content: "\3e";
}
/* "&gt;" */
.icon-basket:before {
  content: "\62";
}
/* "b" */
.icon-facebook:before {
  content: "\66";
}
/* "f" */
.icon-twitter:before {
  content: "\74";
}
/* "t" */
.icon-vk:before {
  content: "\76";
}
/* "v" */
.icon-up:before {
  content: "\2c4";
}
/* "˄" */
.icon-down:before {
  content: "\2c5";
}
/* "˅" */
.icon-left-big:before {
  content: "\2190";
}
/* "←" */
.icon-right-big:before {
  content: "\2192";
}
/* "→" */
.icon-login:before {
  content: "\2386";
}
/* "⎆" */
.icon-logout:before {
  content: "\241b";
}
/* "␛" */
.icon-up-dir:before {
  content: "\25b2";
}
/* "▲" */
.icon-down-dir:before {
  content: "\25bc";
}
/* "▼" */
.icon-circle:before {
  content: "\25cb";
}
/* "○" */
.icon-circle-dot:before {
  content: "\25cf";
}
/* "●" */
.icon-star:before {
  content: "\2605";
}
/* "★" */
.icon-check-off:before {
  content: "\2610";
}
/* "☐" */
.icon-check-on:before {
  content: "\2611";
}
/* "☑" */
.icon-youtube:before {
  content: "\f39e";
}
/* "" */
.icon-home:before {
  content: "🏠";
}
/* "\1f3e0" */
.icon-user:before {
  content: "👨";
}
/* "\1f468" */
.icon-phone:before {
  content: "📞";
}
/* "\1f4de" */
.icon-instagramm:before {
  content: "📷";
}
/* "\1f4f7" */
.icon-search:before {
  content: "🔍";
}
/* "\1f50d" */
.icon-bookmark:before {
  content: "🔖";
}
/* "\1f516" */
body {
  min-width: 960px;
  font-size: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
.layout-center {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.main-header {
  background-color: #f1f5f7;
  padding-bottom: 50px;
  margin-bottom: 45px;
}
.main-header .header-top-row {
  margin-bottom: 45px;
  font-size: 0;
  background-color: #293449;
  color: #ffffff;
}
.main-header .header-top-row .header-element {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 0;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}
.main-header .header-top-row .logo {
  position: relative;
  width: 220px;
  padding: 9px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}
.main-header .header-top-row .logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}
.main-header .header-top-row .logo:active {
  background-color: #ba2732;
  box-shadow: :0 5px 0 0 #8e1e26;
}
.main-header .header-top-row .search {
  width: 200px;
  padding: 12px 20px;
  padding-left: 40px;
  color: #000000;
  text-decoration: none;
  background-color: inherit;
  border: none;
  outline: none;
}
.main-header .header-top-row .search:focus {
  background-color: #ffffff;
}
.main-header .header-top-row .icon-search {
  position: absolute;
  top: 50%;
  left: 230px;
  transform: translateY(-50%);
  font-size: 17px;
  line-height: 18px;
  color: #6a7180;
  opacity: 0.3;
}
.main-header .header-top-row .bookmarks {
  position: relative;
  width: 80px;
  padding-left: 55px;
  padding-right: 25px;
  text-decoration: none;
}
.main-header .header-top-row .bookmarks:before {
  position: absolute;
  top: 50%;
  left: 30px;
  content: "🔖";
  font-family: "symbols-technomart";
  font-size: 17px;
  line-height: 18px;
  transform: translateY(-50%);
  opacity: 0.3;
}
.main-header .header-top-row .basket {
  position: relative;
  width: 105px;
  padding-left: 45px;
  text-decoration: none;
}
.main-header .header-top-row .basket:before {
  position: absolute;
  top: 50%;
  left: 20px;
  content: "\62";
  font-family: "symbols-technomart";
  font-size: 17px;
  line-height: 18px;
  transform: translateY(-50%);
  opacity: 0.3;
}
.main-header .header-top-row .bookmarks:hover:before,
.main-header .header-top-row .basket:hover:before {
  opacity: 1;
}
.main-header .header-top-row .bookmarks:active:before,
.main-header .header-top-row .basket:active:before {
  opacity: 0.5;
}
.main-header .header-top-row .checkout {
  width: 150px;
  text-align: center;
  background-color: #63a63e;
}
.main-header .header-top-row .checkout a {
  text-decoration: none;
  color: #ffffff;
}
.main-header .header-top-row .checkout:hover {
  background-color: #5fbb2d;
}
.main-header .header-top-row .checkout:active {
  background-color: #518534;
}
.main-header .header-middle-row {
  margin-bottom: 45px;
}
.main-header .header-middle-row .left-column {
  float: left;
  width: 248px;
  padding-left: 52px;
  margin-right: 20px;
  text-align: left;
}
.main-header .header-middle-row .left-column p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}
.main-header .header-middle-row .center-column {
  float: left;
  width: 300px;
}
.main-header .header-middle-row .center-column .phone {
  position: relative;
  width: 190px;
  padding: 11px 0;
  padding-left: 75px;
  font-size: 21px;
  color: #ee3643;
  border: 3px  solid #ffffff;
}
.main-header .header-middle-row .center-column .phone:before {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  content: "📞";
  font-size: 22px;
  color: #b7bfc8;
}
.main-header .header-middle-row .center-column .address {
  margin-left: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.main-header .header-middle-row .right-column {
  float: right;
  width: 300px;
  text-align: right;
}
.main-header .header-middle-row .right-column .btn {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  padding: 14px 25px;
  font-size: 21px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}
.main-header .header-middle-row .right-column .btn:last-child {
  margin-right: 0;
}
.main-header .header-middle-row .right-column .btn-login {
  position: relative;
  padding-left: 48px;
}
.main-header .header-middle-row .right-column .btn-login:before {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  content: "\2386";
  font-size: 22px;
  font-family: "symbols-technomart";
  color: #c5c5c5;
}
.main-header .menu {
  font-size: 0;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}
.main-header .menu .menu-item {
  display: inline-block;
  vertical-align: middle;
  padding: 22px 30px;
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
}
.main-header .menu .menu-item:first-child {
  padding-left: 55px;
}
.main-header .menu .menu-item:last-child {
  padding-right: 55px;
}
.main-header .menu .menu-item:hover {
  background-color: #293449;
}
.main-header .menu .menu-item:active {
  opacity: 0.5;
  background-color: #1d2739;
}
.main-content .btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background-color: #ee3643;
}
.main-content .btn-promo {
  background-color: rgba(0, 0, 0, 0.1);
}
.main-content .btn-promo:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.main-content .btn-promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.main-content .btn-catalog {
  width: 195px;
  padding: 10px 0;
  position: absolute;
  bottom: 20px;
  background-color: #ee3643;
}
.main-content .btn-popular {
  width: 254px;
  padding: 10px 0;
  float: right;
}
.main-content .btn-price {
  position: relative;
  width: 100px;
  padding: 10px;
  margin-bottom: 21px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}
.main-content .btn-price:hover {
  background-color: #ee3643;
}
.main-content .btn-about {
  width: 220px;
  padding: 10px 0;
}
.main-content .btn-contacts {
  width: 300px;
  padding: 10px 0;
}
.main-content .promo {
  margin-bottom: 50px;
}
.main-content .promo .promo-block {
  position: relative;
  float: left;
  width: 254px;
  padding: 23px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: grey;
}
.main-content .promo .promo-block:nth-child(3),
.main-content .promo .promo-block:nth-child(5),
.main-content .promo .promo-block:nth-child(6) {
  margin-right: 0;
}
.main-content .promo .promo-block:nth-child(4),
.main-content .promo .promo-block:nth-child(6) {
  margin-bottom: 0;
}
.main-content .promo .promo-block-title {
  display: block;
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.main-content .promo .promo-block:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/sprite.png") no-repeat;
}
.main-content .promo .materials {
  background-color: #f6b22d;
}
.main-content .promo .materials:before {
  right: 14%;
  width: 44px;
  height: 65px;
  background-position: -93px -5px;
}
.main-content .promo .materials:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 60px;
  background: url("../img/sprite.png") no-repeat -379px -5px;
}
.main-content .promo .tools {
  background-color: #4aafde;
}
.main-content .promo .tools:before {
  right: 9%;
  width: 75px;
  height: 61px;
  background-position: -304px -5px;
}
.main-content .promo .technics {
  background-color: #cc79d1;
}
.main-content .promo .technics:before {
  right: 10%;
  width: 78px;
  height: 62px;
  background-position: -147px -5px;
}
.main-content .promo .discounts {
  background-color: #85d179;
}
.main-content .promo .discounts:before {
  right: 15%;
  width: 59px;
  height: 72px;
  background-position: -235px -5px;
}
.main-content .promo .delivery {
  background-color: #f6b22d;
}
.main-content .promo .delivery:before {
  right: 10%;
  width: 78px;
  height: 63px;
  background-position: -5px -5px;
}
.main-content .promo .slider {
  width: 620px;
  padding: 0;
  height: 220px;
  background-color: #c5c5c5;
}
.main-content .promo .slider input[type="radio"] {
  display: none;
}
.main-content .promo .slider .promo-slider-inner {
  overflow: hidden;
}
.main-content .promo .slider .promo-slides {
  width: 200%;
  min-height: 266px;
}
.main-content .promo .slider .promo-slide {
  position: relative;
  float: left;
  width: 580px;
  padding: 20px;
  min-height: 226px;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.main-content .promo .slider .promo-slide-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.main-content .promo .slider .promo-slide-text {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
.main-content .promo .slider .promo-slide:first-child {
  background-image: url("../img/promo-slide-1.jpg");
}
.main-content .promo .slider .promo-slide:last-child {
  background-image: url("../img/promo-slide-2.jpg");
}
.main-content .promo .slider .promo-slider-controls {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 100;
  text-align: center;
}
.main-content .promo .slider .promo-slider-controls .circle-toggle {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.main-content .promo .slider .promo-slider-controls .arrow-toggle {
  position: absolute;
  top: -40px;
  display: block;
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
  border: 3px solid #ffffff;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
}
.main-content .promo .slider .promo-slider-controls .prev {
  left: -283px;
  transform: rotate(-45deg);
}
.main-content .promo .slider .promo-slider-controls .next {
  left: 255px;
  transform: rotate(135deg);
}
.main-content .promo .slider #promo-btn-1:checked ~ .promo-slider-controls .circle-toggle[for="promo-btn-1"] {
  background-color: #ee3643;
}
.main-content .promo .slider #promo-btn-2:checked ~ .promo-slider-controls .circle-toggle[for="promo-btn-2"] {
  background-color: #ee3643;
}
.main-content .promo .slider #promo-btn-1:checked ~ .promo-slider-inner .promo-slides {
  transform: translate(0);
}
.main-content .promo .slider #promo-btn-2:checked ~ .promo-slider-inner .promo-slides {
  transform: translate(-620px);
}
.main-content .popular {
  margin-bottom: 20px;
}
.main-content .popular .popular-header {
  padding: 26px 30px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}
.main-content .popular .popular-header-title {
  float: left;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}
.main-content .popular .popular-content {
  font-size: 0;
}
.main-content .popular .product-item {
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-right: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e5e5e5;
}
.main-content .popular .product-item:last-child {
  position: relative;
  margin-right: 0;
}
.main-content .popular .product-item:last-child .product-item-old-price {
  visibility: hidden;
}
.main-content .popular .product-item:last-child:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 60px;
  background: url("../img/sprite.png") no-repeat -379px -5px;
}
.main-content .popular .product-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.main-content .popular .product-item-image {
  padding-top: 21px;
}
.main-content .popular .product-item-title {
  margin: 0 30px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
}
.main-content .popular .product-item-old-price {
  display: block;
  margin-bottom: 13px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
}
.main-content .popular .brand-item {
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #e5e5e5;
}
.main-content .popular .brand-item:nth-child(4n) {
  margin-right: 0;
}
.main-content .popular .brand-item-image {
  vertical-align: middle;
}
.main-content .popular .brand-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.main-content .brands {
  margin-bottom: 85px;
}
.main-content .brands .popular-content {
  line-height: 143px;
}
.main-content .section-title {
  margin-bottom: 22px;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}
.main-content .section-text {
  font-size: 13px;
  line-height: 24px;
}
.main-content .services {
  padding-top: 62px;
  margin-bottom: 80px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f6f9;
}
.main-content .services .section-text {
  margin-bottom: 68px;
}
.main-content .services .services-slider input[type="radio"] {
  display: none;
}
.main-content .services .services-slider-tabs {
  float: left;
  width: 240px;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #eee;
}
.main-content .services .services-slider-tabs .tab-item {
  display: block;
  padding: 16px 23px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
}
.main-content .services .services-slider-tabs .tab-item:hover {
  background-color: #293449;
  cursor: pointer;
}
.main-content .services .services-slider #services-btn-1:checked ~ .services-slider-tabs .tab-item[for="services-btn-1"] {
  background-color: #ffffff;
  color: #32425c;
  border-top-color: #ffffff;
}
.main-content .services .services-slider #services-btn-1:checked ~ .services-slider-content .services-slides {
  transform: translate(0);
}
.main-content .services .services-slider #services-btn-2:checked ~ .services-slider-tabs .tab-item[for="services-btn-2"] {
  background-color: #ffffff;
  color: #32425c;
  border-top-color: #ffffff;
}
.main-content .services .services-slider #services-btn-2:checked ~ .services-slider-content .services-slides {
  transform: translate(-620px);
}
.main-content .services .services-slider #services-btn-3:checked ~ .services-slider-tabs .tab-item[for="services-btn-3"] {
  background-color: #ffffff;
  color: #32425c;
  border-bottom-color: #ffffff;
}
.main-content .services .services-slider #services-btn-3:checked ~ .services-slider-content .services-slides {
  transform: translate(-1240px);
}
.main-content .services .services-slider-content {
  float: right;
  width: 620px;
  min-height: 284px;
  overflow: hidden;
}
.main-content .services .services-slider-content .services-slides {
  width: 300%;
}
.main-content .services .services-slider-content .services-slides .services-slide {
  float: left;
  width: 620px;
  min-height: 284px;
}
.main-content .services .services-slider-content .services-slides .services-slide-title {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}
.main-content .services .services-slider-content .services-slides .services-slide-text {
  width: 380px;
  margin-bottom: 34px;
  font-size: 13px;
  line-height: 24px;
}
.main-content .services .services-slider-content .services-slides .services-slide:first-child {
  background: url("../img/service_slide_delivery.png") no-repeat 100% 0;
}
.main-content .services .services-slider-content .services-slides .services-slide:nth-child(2) {
  background: url("../img/service_slide_garanty.png") no-repeat 100% 0;
}
.main-content .services .services-slider-content .services-slides .services-slide:last-child {
  background: url("../img/service_slide_credit.png") no-repeat 100% 0;
}
.main-content .info .section-title,
.main-content .info .section-text {
  margin-bottom: 26px;
}
.main-content .info .about {
  float: left;
  width: 540px;
}
.main-content .info .about .transport-list {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  list-style: none;
}
.main-content .info .about .transport-list li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
}
.main-content .info .about .transport-list li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  transform: translateY(-50%);
  background-color: #fb565a;
}
.main-content .info .about .transport-list li:last-child {
  margin-bottom: 0;
}
.main-content .info .contacts {
  float: right;
  width: 320px;
}
.main-content .info .contacts .map {
  margin-bottom: 40px;
}
