doctype
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet",  href="css/normalize.css")
    link(rel="stylesheet",  href="css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Cuprum&amp;subset=latin,cyrillic", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700", rel="stylesheet", type="text/css")
  body
    header.main-header
      div.header-top-row.clearfix
        div.layout-center
          div.header-element.logo Техномарт
            span.icon-search
          input.header-element.search(type="search", placeholder="Поиск")
          a.header-element.bookmarks(href="#") Закладки
          a.header-element.basket(href="#") Корзина
          div.header-element.checkout
            a(href="#") Оформить заказ
      div.header-middle-row.clearfix
        div.layout-center
          div.left-column
            p Интернет-магазин <br> строительных материалов <br> и инструментов для ремонта
          div.center-column
            div.phone
              strong +7 (812) 555-05-55
            span.address г.Санкт-Петербург, ул. Б.Конюшенная 19/8
          div.right-column
            a.btn.btn-login(href="#") Войти
            a.btn.btn-register(href="#") Регистрация
      div.header-bottom-row
        div.layout-center
          nav.menu
            a.menu-item(href="#") Главная
            a.menu-item(href="#") Компания
            a.menu-item(href="#") Каталог
            a.menu-item(href="#") Новости
            a.menu-item(href="#") Спецпредложения
            a.menu-item(href="#") Доставка
            a.menu-item(href="#") Контакты
    main.main-content
      div.layout-center
        section.promo.clearfix
          .promo-block.materials
            span.promo-block-title Материалы
            a.btn.btn-promo(href="#") На любой вкус
          .promo-block.tools
            span.promo-block-title Инструмент
            a.btn.btn-promo(href="#") На все случаи
          .promo-block.technics
            span.promo-block-title Техника
            a.btn.btn-promo(href="#") Для стройки
          .promo-block.slider
            input(type="radio" id="promo-btn-1" name="promo-toggle" checked)
            input(type="radio" id="promo-btn-2" name="promo-toggle")
            div.promo-slider-controls
              label.circle-toggle(for="promo-btn-1")
              label.circle-toggle(for="promo-btn-2")
              label.arrow-toggle.prev(for="promo-btn-1")
              label.arrow-toggle.next(for="promo-btn-2")

            div.promo-slider-inner
              div.promo-slides
                div.promo-slide
                  h2.promo-slide-title Перфораторы
                  p.promo-slide-text Настоящие мужские игрушки
                  a.btn.btn-catalog(href="catalog.html") Открыть каталог
                div.promo-slide
                  h2.promo-slide-title Дрели
                  p.promo-slide-text Соседям на радость
                  a.btn.btn-catalog(href="catalog.html") Открыть каталог
          .promo-block.discounts
            span.promo-block-title Скидки 50%
            a.btn.btn-promo(href="#") На 350 товаров
          .promo-block.delivery
            span.promo-block-title Доставка
            a.btn.btn-promo(href="#") Бесплатно
        section.popular.products
          div.popular-header.clearfix
            h2.popular-header-title Популярные товары
            a.btn.btn-popular(href="#") Все популярные товары
          div.popular-content
            article.product-item
              div.product-item-image
                img(src="img/product_2.jpg")
              h3.product-item-title Перфоратор Bosch BFG 9000
              span.product-item-old-price 32500 Р.
              a.btn.btn-price(href="#") 25500 Р.
            article.product-item
              div.product-item-image
                img(src="img/product_2.jpg")
              h3.product-item-title Перфоратор Bosch BFG 3000
              span.product-item-old-price 22500 Р.
              a.btn.btn-price(href="#") 15500 Р.
            article.product-item
              div.product-item-image
                img(src="img/product_2.jpg")
              h3.product-item-title Перфоратор Bosch BFG 6000
              span.product-item-old-price 30500 Р.
              a.btn.btn-price(href="#") 25500 Р.
            article.product-item
              div.product-item-image
                img(src="img/product_2.jpg")
              h3.product-item-title Перфоратор Bosch BFG 2000
              span.product-item-old-price 123
              a.btn.btn-price(href="#") 12500 Р.
        section.popular.brands
          div.popular-header.clearfix
            h2.popular-header-title Популярные производители
            a.btn.btn-popular(href="#") Все производители
          div.popular-content
            article.brand-item
              img.brand-item-image(src="img/brands_bosch.jpg", alt="Bosch")
            article.brand-item
              img.brand-item-image(src="img/brands_makita.jpg", alt="Makita")
            article.brand-item
              img.brand-item-image(src="img/brands_dewalt.jpg", alt="Dewalt")
            article.brand-item
              img.brand-item-image(src="img/brands_interskol.jpg", alt="Interskol")
            article.brand-item
              img.brand-item-image(src="img/brands_hitachi.jpg", alt="Hitachi")
            article.brand-item
              img.brand-item-image(src="img/brands_lg.jpg", alt="LG")
            article.brand-item
              img.brand-item-image(src="img/brands_aeg.jpg", alt="AEG")
            article.brand-item
              img.brand-item-image(src="img/brands_metabo.jpg", alt="Metabo")

      section.services
      section.info
    footer.footer
      div.footer-top-row
      div.footer-bottom-row

